@using ResERP.Models.ViewModels
@model IEnumerable<BranchMemberViewModel>

@{
    ViewData["Title"] = "Employee List | ERP";
    @* Page Control *@
    var currentPage = ViewData["CurrentPage"] as int? ?? 1;
    var totalPages = ViewData["TotalPages"] as int? ?? 1;
}

<div class="d-flex justify-content-center mt-5 p-5">
    <table class="table">
        <thead>
            @* Table Head *@
            <tr class="table-secondary text-center">
                <th style="width: 15%; border-right: 1px solid black;">Branch</th>
                <th style="width: 10%; border-right: 1px solid black;">Role</th>
                <th style="width: 20%; border-right: 1px solid black;">Name</th>
                <th style="width: 10%; border-right: 1px solid black;">Birth Date</th>
                <th style="width: 10%; border-right: 1px solid black;">Contact</th>
                <th style="width: 35%; border-right: 1px solid black;">Action</th>
            </tr>
        </thead>
        <tbody>
            @* User Role *@
            @foreach (var user in Model)
            {
                <tr class="align-middle">
                    <td class="text-center" style="width: 15%; border-right: 1px solid black;">@user.BranchName</td>
                    <td class="text-center" style="width: 10%; border-right: 1px solid black;">@user.RoleName</td>
                    <td class="text-center" style="width: 20%; border-right: 1px solid black;">@user.FullName</td>
                    <td class="text-center" style="width: 10%; border-right: 1px solid black;">@user.DateBirth.ToString("yyyy-MM-dd")</td>
                    <td class="text-center" style="width: 10%; border-right: 1px solid black;">@user.PhoneNumber</td>
                    <td class="text-center" style="width: 35%; border-right: 1px solid black;">
                        @*Delete User Button *@
                        <a class="btn btn-danger me-4" style="width: 150px;">Delete</a>
                        @*Show User Detail *@
                        <button class="btn btn-dark employee-detail-button"
                                type="button"
                                data-bs-toggle="modal"
                                data-bs-target="#employeeDetailModal"
                                data-id="@user.MemberID"
                                style="width: 150px;">
                            Detail
                        </button>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-center">
    <nav>
        <ul class="pagination">
            @if (currentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("EmployeeList", new { page = currentPage - 1 })">Previous</a>
                </li>
            }

            @for (int i = 1; i <= totalPages; i++)
            {
                <li class="page-item @(i == currentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("EmployeeList", new { page = i })">@i</a>
                </li>
            }

            @if (currentPage < totalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("EmployeeList", new { page = currentPage + 1 })">Next</a>
                </li>
            }
        </ul>
    </nav>
</div>

<!-- Employee Detail Modal -->
<div class="modal fade" id="employeeDetailModal" tabindex="-1" aria-labelledby="employeeDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Content will be dynamically loaded here -->
            <p>Loading...</p>
        </div>
    </div>
</div>

